<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>COBA BUKA PDF</title>
    </head>
    <style>
        html, body {
            height: 100%;
            padding: 0;
        }
        
        embed {
            height: 100%;
            padding: 0;
        }
    </style>
    <body>
      <p>hi</p>
      <embed src="<%= embedUrl %>" type="application/pdf" width="100%" height="600px" />

    </body>
</html>