<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Email Template</title>
</head>
<body>
    <h2>Reset Password AKUN D-SIGN JTK POLBAN</h2>
    <hr>
    <h3>Halo, <%= nama %>!</h3>
    <p>Ini adalah email yang berisi informasi akun Koordinator anda yang telah direset passwordnya dan dapat digunakan untuk login ke dalam aplikasi D-SIGN JTK POLBAN.</p>
    <p>Username : <%= username %></p>
    <p>Password : <%= newPass %></p>
    <p>Harap jaga informasi ini dengan baik dan jangan berikan kepada orang lain.</p>
    <p>Jika Anda memiliki pertanyaan atau membutuhkan bantuan, jangan ragu untuk menghubungi Koordinator.</p>
    <p>Terima kasih!</p>
</body>
</html>